body{
    margin:0;
}

.topbar h1{
    background-image: url(https://www.barcelonacodeschool.com/files/pics/cur_files/squares.svg);
    height: 60px;
    margin: 0;
    text-align: left;
    padding: 3em;
}

nav {
    width: 100%;
    overflow: auto;
    background-color: black;
   
  }

  header ul {
  display: flex;
  list-style: none;
  color: white;
}
header li{
    margin: auto;
}

nav a{    
    text-decoration: none;
    color: white;
}
nav a:visited{
    text-decoration: none;
    color: white;
}

.grid2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin: 0 10%; 
    grid-gap: 1em;
}

h2{
    font-size: 18px;
}

button{
    background: #fff;
    color: black;
    border: solid;
    border-width: thin;
}
.video{
    position: relative;
    padding-bottom: 60%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
    box-shadow: -2px 3px black;
}

.grid2 a{
    color: black;
}

.grid2 a:visited{
    color: black;
}

.futureTalk{
    margin: 2em 0em;
}

.futureTalk p{
    margin-bottom: 25px;
}
mark{
    color: black;
    background-color: (255, 254, 84);
}

.grid4{
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3em 7em;
    column-gap: 1em;
}

.grid4 div:first-child{
    grid-column: 1/-1;
    text-align: left;
}

.grid4 a{
    color:white;
}
.grid4 a:visited{
    color: white;
}


.web_dev_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-style: solid;
    padding: 0em 1em;
    margin-bottom: 1em;
    border-width: thin;
    box-shadow: -3px 2px black;
}

.web_dev_grid div:first-child{
    grid-column: 1/-1;
    text-align: left;
}

.young_coders_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-style: solid;
    padding: 0em 1em;
    margin-bottom: 1em;
    border-width: thin;
    box-shadow: -3px 2px black;
}
.young_coders_grid div:first-child{
    grid-column: 1/-1;
    text-align: left;
}

.corporate_affairs_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-style: solid;
    padding: 0em 1em;
    margin-bottom: 1em;
    border-width: thin;
    box-shadow: -3px 2px black;
}

.corporate_affairs_grid div:first-child{
    grid-column: 1/-1;
    text-align: left;
}

.ways a{
    color: black;
}

.ways a:visited{
    color: black;
}
.ways{
    padding: 1em 6em;
}
.ways h3{
    border-bottom: 1px solid black;
}

.partners img{
    width: 10%;
    vertical-align: middle;
    margin-right: 2%;
    filter: grayscale(100%);
}

.partners{
    padding: 1em 6em; 
    margin-bottom: 3em;
}

.grid3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.grid3 a{
    color: white;
}
.grid3 a:visited{
    color:white;
}
footer{
    background-color: black;
    color: white;
    padding: 4em 5em;
}
 .copyrights{
     padding: 4em 0em 0em 0em;
 }